body {
    background-color: #f8dd90;
    padding: 0px;
    margin: 0px;
    border: 0px
}

a {
    font-family: Open Sans;
}

h1 {
    color: #F8DD90;
    font-size: 40pt;
}

hr {
    color: #2b3340
    margin: 0px;
}

.main{
    margin-bottom: 10px;
}

.main h2 {
    color: #6ca8c5;
    background-color: #2b3340;
    font-family: Open Sans, sans-serif;
    margin: 0px;
    padding-left: 10px;
}

.main hr {
    color: #6ca8c5;
    padding: 0px;
    margin: 0px;
}

.main p {
    font-family: Helvetica;
    color: #2b3340;
    padding-left: 10px;
    padding-right: 10px;
}

.price-table p {
    margin: 0px;
    padding: 0px;
}

.table-header {
    background-color: #4bb499;
    margin: 0px;
    text-align: center;
    border-top: 1px solid #2b3340;
}

.table-header > h3 {
    font-family: Open Sans, sans-serif;
    text-align: center;
    color: #2b3340;
    margin: auto;
    padding: auto;
}

.price {
    text-align: right;
}

.side {
    display: inline-block;
    padding: auto;
    margin: auto;
    justify-content: center;
    text-align: center;
    float: right;
    position: relative;
}

.side hr {
    color: #2b3340;
    margin-top: 0px;
    padding: 0px;
}

.side h2 {
    color: #2b3340;
    background-color: #4bb499;
    font-family: Open Sans, sans-serif;
    margin: 0px;
    padding: 0px;
}

.side p {
    font-family: Helvetica, sans-serif;
    color: #9B4600;
}

iframe {
    margin: 5px, 0px, 5px, 0px;
    padding: 0px;
}

.footer {
    background-color: #2b3340;
    padding: 3px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer p {
    font-family: Helvetica;
    color: #59879e;
}