body {
    background-color: #f8dd90;
    padding: 0px;
    margin: 0px;
    border: 0px
}

hr {
    color: #2b3340
}

.main h2 {
    color: #6ca8c5;
    background-color: #2b3340;
    font-family: Open Sans, sans-serif;
    margin: 0px;
    padding-left: 10px;
}

.main hr {
    color: #6ca8c5;
    padding: 0px;
    margin: 0px;
}

.main p {
    font-family: Helvetica;
    color: #2b3340;
    padding-left: 10px;
    padding-right: 10px;
}

table {
    margin: auto;
    padding: auto;
    width: 100%;
}

.table-header{
    background-color: #4bb499;
}

tr > td > h3 {
    font-family: Open Sans, sans-serif;
    text-align: center;
    color: #2b3340;
    margin: auto;
    padding: auto;
}

td {
    margin: auto;
    padding: auto;
}

td p {
    padding: 0px;
    margin: 0px;
}

.price {
    text-align: right;
}

.side {
    display: inline-block;
    padding: auto;
    margin: auto;
    justify-content: center;
    text-align: center;
    float: right;
    position: relative;
}

.side hr {
    color: #2b3340;
    margin-top: 0px;
    padding: 0px;
}

.side h2 {
    color: #2b3340;
    background-color: #4bb499;
    font-family: Open Sans, sans-serif;
    margin: 0px;
    padding: 0px;
}

.side p {
    font-family: Helvetica, sans-serif;
    color: #9B4600;
}

iframe {
    margin: 5px, 0px, 5px, 0px;
    padding: 0px;
}

#footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    background-color: #2b3340;
    width: 100%;
    clear: both;
}

#footer p {
    font-family: Helvetica;
    color: #59879e;
    padding-left: 30px;
}